<div class="container-fluid">
    <div>Title:</div>
    <div>
        <input type="text" id="title" [(ngModel)]="newTodo.title" name="title" />
    </div>
    <div>Description:</div>
    <div>
        <textarea id="description" rows="4" cols="50" [(ngModel)]="newTodo.description" name="description">description...</textarea>
    </div>

    <button id="addTodoButton" class="btn btn-primary pull-right" (click)="addToDo()">Add ToDo</button>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let todo of todos; index as i' [ngClass]="{'todo':todo.status === 'todo', 'done':todo.status === 'done' }">
                <td>{{i+1}}</td>
                <td>{{todo?.title}}</td>
                <td>{{todo?.description}}</td>
                <td>{{todo?.status}}</td>
                <td><button *ngIf="todo.status === 'todo'" id="completeButton" class="btn btn-info" (click)="setComplete(i)">Complete</button></td>
                <td><button id="delTodoButton" class="btn btn-danger" (click)="deleteTodoById(todo?.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
